


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tektur:wght@400..900&display=swap');


.backgraund_fon{
    background: linear-gradient(to right,rgba(243, 217, 177, 1),rgba(208, 140, 96, 1));
    animation: bg 2s ease infinite;
}

@keyframes bg{
    0%{
        background-position: 0% 0%;
        rotate: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
        rotate: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
        rotate: 0% 0%;
    }
}

.menu{
    /* Rectangle 2 */
width: 413px;
height: 1044px;
left: 0px;
top: 62px;
display: flex;
background: rgba(217, 217, 217, 0.69);

}
/* Rectangle 2 */


.menu-pleu{
    /* Rectangle 3 */
display: flex;
justify-content: center;
position: absolute;
width: 333px;
height: 45px;
left: 40px;
top: 13.3vh;

background: #747474;
border-radius: 8px;

}
.menu-pleu-text{

display: flex;
justify-content: center;
align-items: center;
position: absolute;
text-align: center;
font-size: 40px;
color: #D8D8D8;
top: -4.7vh;
}

.search{
    display: flex;
justify-content: center;
position: absolute;
width: 333px;
height: 45px;
left: 40px;
top: 22.3vh;

background: #D3D3D3;
border: 1px solid rgba(0, 0, 0, 0.42);
border-radius: 8px;
font-size: 40px;
text-align: center;

}

.search-meny{
    /* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 333px;
height: 720.92px;
left: 40px;
top: 31.3vh;

background: rgba(211, 211, 211, 0.5);
border: 1px solid rgba(0, 0, 0, 0.42);
border-radius: 8px;

}

.igry{

position: absolute;
width: 936px;
height: 832px;
left: 483px;
top: 140px;
}

.stalker2{
   /* Group 22 */

position: absolute;


top: 2vh;

 
}

.stalker2-botom{
    /* Rectangle 34 */

position: absolute;
width: 262px;
height: 377px;


background: rgba(211, 211, 211, 0.8);
border-radius: 36px;

}

.stalker2-img{
    /* Rectangle 40 */

position: absolute;
width: 216px;
height: 216px;
top: 2vh;

left: 2.5vh;

}

.stalker2-text{
    /* ЇЖА ІЗ ГРИ */
margin: 0 ;


font-weight: 700;
font-size: 38px;
display: flex;
justify-content: center;

color: #000000;

}
.stalker2-text1{
    /* ЇЖА ІЗ ГРИ */
    margin: 0.5vh;
font-weight: 700;
font-size: 28px;
display: flex;
justify-content: center;

color: #000000;
}

.stalker2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.cyberpank{
    /* Group 23 */
    
    position: absolute;
    
    top: 2vh;
    left: 45vh;
    }
    
    .cyberpank-botom{
        /* Rectangle 35 */
    
    position: absolute;
    width: 262px;
    height: 377px;
    
    
    background: rgba(211, 211, 211, 0.8);
    border-radius: 36px;
    
    }

    .cyberpank:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }